body {
    background-color: #222;
    margin: 0;
    min-width: 320px;
    font-family: helvetica, Arial, sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    overflow-x: hidden;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #fff;
  }

.container {
    margin: 0 auto;
  }